<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <!-- <h1>テスト！！！！！！！！！！！！！</h1> -->
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("select weight, give_for from crops where not give_for='自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った先：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
      下記のボタンを押すと、ゴーヤの大きさと自家消費を除く売った相手の情報ページに飛びます<br><br>
      <!-- valueには、送りたいデータを代入する -->
      <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select weight, give_for,quality from crops where quality = false;") %>
    <% data= [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った先：#{record["give_for"]} #{record["quality"]}" %>
    <% end %>


    <form action="goya2.cgi" method="POST">
       下記のボタンを押すと、品質の良くないゴーヤの情報ページに飛びます<br><br>
      <input type="text" name="goya2" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
